html{
    font-family: "Roboto", Arial, sans-serif;
}

.padding{
    padding:8px 32px;
}

a, a:visited, a:hover, a:active {
    /* Defaulting all link interactions to the <a> tag color */
	color:#0000EE;
} 

.header-cont{
    background-color: #f3f3f3;
}

.header-cont h1{
    font-size:2em;
    font-weight: bold;
    font-family: 'Times New Roman', "Roboto", sans-serif;
}

.header-links{
    gap:16px;
    color:black;
}

.hero-cont{
    background-color: #f3f3f3;
}

.hero-cont h1, .testim-title{
    font-size:1.5em;
    font-weight:bold;
    line-height:1.5;
    padding-top:0.75em;
}

.hero-cont p{
    font-size:1.5em;
    padding-top:0.75em;
}

.hero-button{
    padding-top:0.75em;
}

.hero-button a{
    display: inline-block;
    padding:0.5em 2em;
    background-color:#3822F6;
    color:white;
    border-radius:0.5em;
}

.testim-box{
    text-align: center;
    line-height: 1.25;
}

.testim-img{
    margin:2em 2em 0 2em;
    border: 3px solid #0000EE;
    border-radius:1em;
    overflow: hidden;
}

.testim-box p{
    padding:1em;
}

.quote-cont{
    padding:4em 2em;
    background-color: #f3f3f3;
}

.quote-text{
    padding-left:2em;
    line-height: 1.25;
    font-size:36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author{
    font-weight:bold;
}

.cta-cont{
    margin:4em 0;
}

.cta-cont-cont{
    background-color:#3888f6;
    color:white;
    border-radius:8px;
    padding:2em 4em;
}

.cta-text{
    line-height: 1.25;
}

.cta-text h2{
    font-size:1.25em;
}

.cta-button{
    background-color:#3888f6;
    border: 3px solid white;
    padding:0.5em 2em;
    border-radius:8px;
}

.cta-button a{
   color:white;
}

.footer{
    background-color:#1f2937;
    color:white;
    padding:40px 64px;
}


@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url(../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: lighter;
    font-style: italic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}